@model OnlineBankingForManagers.Domain.Personages.Client

<div class="item">
   
    @Model.Firstname
    @Model.Lastname
    @Model.DateOfBirth
    @Model.PhoneNumber
    @Model.Status
    
    @Model.Deposit
     @using (Html.BeginForm("Delete", "Client"))
                {@Html.Hidden("ClientId", Model.ClientId)
                    <input type="submit" value="Delete" />
                }


    
</div>
